<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>

<body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8005', {
            //socket.js의 path와 일치시켜야함
            path: '/socket.io',
            transports: ['websocket'],
        });
        //아래 3줄을 하나의 이벤트로 보고 여러개의 이벤트를 지정해줄 수 있음
        //news라는 이름의 이벤트를 보고 콜백으로 reply - hello node.js가 전송됨
        socket.on('news', function (data) {
            //data는 서버에서 보내준 'hello socket.io'
            console.log(data);
            //reply가 이벤트의 이름, 그 뒤가 메시지
            socket.emit('reply', 'Hello Node.JS');
        });
    </script>
</body>

</html> -->

<!-- a
a
a -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>

<body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <script>
        //웹소켓 객체는 브라우저에서 제공함
        //서버에서도 웹소켓에 연결해주고, 프론트에서도 아래처럼 연결을 해줘야 통신이 가능함
        //포트는 공유가능!
        //프론트에서는 html이 실행될때 바로 서버쪽에 웹소켓 연결을 시도함
        const webSocket = new WebSocket("ws://localhost:8005");
        //서버와 연결될때 onopen이 실행
        webSocket.onopen = function () {
            console.log('서버와 웹소켓 연결 성공!');
        };
        //서버에서 메시지가 올때 onmessage가 실행
        //onmessage 안에서 메인 로직을 작성하면 됨
        webSocket.onmessage = function (event) {
            console.log(event.data);
            //프론트에서 서버로 답장을 보낼때 사용하는 코드
            webSocket.send('클라이언트에서 서버로 답장을 보냅니다');
        };
    </script>
</body>

</html>