<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>

<body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <!-- socket.io 서버가 아래의 파일을 express에 넣어줌 / 여기서 404에러가 뜨면 socket.io서버와 express 서버간의 연결이 잘 안된것!-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // 프론트와 서버랑 연결할때는 io.connect 를 사용함
        //io객체는 위의 소스파일에서 제공해줌
        const socket = io.connect('http://localhost:8005', {
            //socket.js의 path와 일치시켜야함
            path: '/socket.io',
            //처음부터 polling을 시도하지 않고 웹소켓으로 바로 연결시도함
            transports: ['websocket'],
        });

        //socket.io에서는 아래와 같은 이벤트리스너를 여러개 만들어서 각상황에 맞게 응답할 수 있음
        //'age'라는 이벤트의 콜백이 실행됨, data에는 'age'이벤트의 메시지가 담김
        socket.on('age', function (data) {
            console.log(data);
            socket.emit('replyAge', '20살');
        });
        //'address'라는 이벤트의 콜백이 실행됨
        socket.on('address', function (data) {
            console.log(data);
            socket.emit('replyAddress', 'I live in Seoul songpagu coding-ro 123');
        });
    </script>
</body>

</html>

<!-- a
a
a -->
<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>

<body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <script>
        //웹소켓 객체는 브라우저에서 제공함
        //서버에서도 웹소켓에 연결해주고, 프론트에서도 아래처럼 연결을 해줘야 통신이 가능함
        //포트는 공유가능!
        //프론트에서는 html이 실행될때 바로 서버쪽에 웹소켓 연결을 시도함
        const webSocket = new WebSocket("ws://localhost:8005");
        //서버와 연결될때 onopen이 실행
        webSocket.onopen = function () {
            console.log('서버와 웹소켓 연결 성공!');
        };
        //서버에서 메시지가 올때 onmessage가 실행
        //onmessage 안에서 메인 로직을 작성하면 됨
        webSocket.onmessage = function (event) {
            //event.data가 string이기 때문에 json을 보내려면 json.stringify로 변환해서 보내야함
            //받는쪽에서는 string을 jsonParse해서 다시 json으로 만들어서 사용해야함
            console.log(event.data);
            //프론트에서 서버로 답장을 보낼때 사용하는 코드
            webSocket.send('클라이언트에서 서버로 답장을 보냅니다');
        };
    </script>
</body>

</html> -->